@import "tailwindcss";

:root {
  /* Color */
--background: hsl(0, 0%, 90%);
--foreground: hsl(0, 0%, 10%);

--primary: hsl(140, 50%, 50%);
--primary-70: hsl(140, 50%, 70%);
--primary-90: hsl(140, 50%, 95%);

--secondary: hsl(64, 95%, 50%);
--secondary-70: hsl(64, 95%, 70%);
--secondary-90: hsl(64, 95%, 90%);

--border: hsl(140, 50%, 30%);

--text: hsl(140, 90%, 5%);
--muted:  hsl(140, 0%, 50%);

--input: hsl(140, 50%, 70%);

--danger-red: hsl(8, 77%, 38%);


/*Typography*/
--text-xl2: 1.25rem; /** 20px **/
--text-xl: 1.125rem; /** 18px **/
--text-base: 1rem; /** 16px **/
--text-desc: 0.875rem;  /** 14px **/
--text-tiny: 0.75rem;  /** 12px **/

}

@theme inline {


/*colors*/
--color-background: var(--background);
--color-foreground: var(--foreground);

--color-primary: var(--primary);
--color-primary70: var(--primary-70);
--color-primary90: var(--primary-90);


--color-secondary: var(--secondary);
--color-secondary70: var(--secondary-70);
--color-secondary90: var(--secondary-90);

--color-text: var(--text);
--color-muted: var(--muted);

--color-border: var(--border);

--color-input: var(--input);
--color-danger: var(--danger-red);

/*Fonts*/
--font-sans: var(--font-geist-sans);
--font-mono: var(--font-geist-mono)
 

/*Typography*/
--text-xl2: var(--text-xl2); /** 20px **/
--text-xl: var(--text-xl); /** 18px **/
--text-base: var(--text-base); /** 16px **/
--text-desc: var(--text-desc);  /** 14px **/
--text-tiny: var(--text-tiny);  /** 12px **/

}

@media (prefers-color-scheme: dark) {
  :root {    
--background: hsl(0, 0%, 10%);
--foreground: hsl(0, 0%, 90%);

--primary: hsl(140, 50%, 50%);
--primary-70: hsl(140, 50%, 30%);
--primary-90: hsl(140, 50%, 10%);

--secondary: hsl(64, 95%, 50%);
--secondary-70: hsl(64, 95%, 30%);
--secondary-90: hsl(64, 95%, 10%);

--border: hsl(0, 0%, 75%);

--text: hsl(140, 90%, 95%);
--muted:  hsl(140, 0%, 50%);

--input: hsl(140, 0%, 55%);

--danger-red: hsl(8, 77%, 50%);
}
}


@layer base {
body {
  @apply bg-background text-foreground;
/*  font-family: Arial, Helvetica, sans-serif; */
}


/*
input {
  border: 2px solid var(--secondary);
  display: block;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: var(--spacing2);
  border-radius: var(--spacing2);
  outline: none;
  width: 100%;
}

textarea{
  border: 2px solid var(--secondary);
  display: block;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: var(--spacing2);
  resize: none;
  border-radius: var(--spacing2);
  outline: none;
  width: 100%;
}
*/

/* Components 
button{
  font: bold var(--text3) / 1em var(--font-sans);
  background-color: var(--primary); 
  color: white;
  padding: var(--spacing2);
  border: 2px solid var(--border);  
  border-radius: 24px;
}
*/

}